.addlecture-container{
display:flex;
background:#c8ddea;
min-height:calc(100vh - 80px);
}

/* sidebar */

.sidebar{
width:270px;
padding:30px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin:20px 0;
font-size:18px;
}

.menu-btn{
font-size:24px;
margin-bottom:30px;
}

/* main */

.lecture-main{
flex:1;
position:relative;
margin:20px;
background-size:cover;
background-position:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background: rgb(180, 206, 222,1.0);
}

/* content */

.lecture-content{
position:relative;
z-index:2;
color:rgb(12, 8, 8);
padding:60px;
text-align:center;

}

.lecture-content h2{
margin-bottom:40px;
text-decoration: underline;


}

.form-row{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
margin-bottom:20px;
}

.form-row input,
.form-row select{
width:220px;
height:30px;
border:none;
padding:4px;
}

.button-row{
margin-top:40px;
display:flex;
justify-content:center;
gap:60px;
}

.add-btn{
background:#0e6089f9;
color:white;
border:none;
padding:10px 40px;
font-size:14px;
border-radius:18px;
cursor:pointer;
}

.view-btn{
background:#395963;
color:white;
padding:10px 25px;
border-radius:20px;
text-decoration:none;
}