/* LecturerLayout.css */

.lecturer-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #0a7f92;
}

.lecturer-layout__body {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.lecturer-layout__content {
  flex: 1;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}

.lecturer-layout__inner {
  position: relative;
  z-index: 1;
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}